h1 {
  background-color: aquamarine;
  border: 2px solid black;
  width: 500px;
  padding: 10px;
  margin: 50px;
  /* display: inline-block; */
  display: none;
}
span {
  /* background-color: goldenrod; */
  border: 2px solid black;
  width: 500px;
  padding: 10px;
  margin: 50px;
}
